@model EverReader.ViewModels.Reader.FindNotesViewModel

@{
    ViewBag.Title = "Find notes";
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-md-12">
        <section>
            <form asp-controller="Reader" asp-action="Index" method="post" class="form-horizontal" role="form">
                <h4>Search for notes to begin reading</h4>
                <hr />
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SearchField" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="SearchField" class="form-control" />
                        <span asp-validation-for="SearchField" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </div>
            </form>
        </section>
@if (Model.SearchResults != null)
{
        <section>
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>Note title</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Length</th>
                </tr>
                @foreach (var item in Model.SearchResults)
                {
                <tr>
                    <td>
                        <a asp-action="Read" asp-controller="Reader" asp-route-guid="@item.BaseNoteMetadata.Guid">Read</a>
                    </td>
                    <td>
                        @item.Title
                        @if (!String.IsNullOrWhiteSpace(item.BaseNoteMetadata.Attributes.Source))
                        {
                            <br />
                            <small>@item.BaseNoteMetadata.Attributes.Source</small>
                        }
                        @if (!String.IsNullOrWhiteSpace(item.BaseNoteMetadata.Attributes.SourceURL))
                        {
                            <br />
                            <small>@item.BaseNoteMetadata.Attributes.SourceURL</small>
                        }
                        @if (!String.IsNullOrWhiteSpace(item.BaseNoteMetadata.Attributes.SourceApplication))
                        {
                            <br />
                            <small>@item.BaseNoteMetadata.Attributes.SourceApplication</small>
                        }
                    </td>
                    <td>@item.CreatedDateTime.ToShortDateString()</td>
                    <td>@item.UpdatedDateTime.ToShortDateString()</td>
                    <td>@item.BaseNoteMetadata.ContentLength</td>
                </tr>
                }
            </table>
        </section>
}

    </div>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>

