@model EverReader.ViewModels.Reader.ReaderViewModel

@{
    ViewBag.Title = "Reader: " + Model.Title;
}

@*<div class="navbar-inverse navbar-lower" data-spy="affix" data-offset-top="50">
    <div class="container">
        <div class="cols-xs-6 navbar-left">*@
           <h3>@ViewBag.Title</h3>
        @*@</div>
        <div class="cols-xs-6 navbar-right">
            jk
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-12">
        @Html.Raw(@Model.Content)
    </div>
</div>

<div class="navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="cols-xs-6 pull-left">
            <a href="#" onclick="window.history.back(); return false" style="color: #999">Back</a>
        </div>
        <div class="cols-xs-6 pull-right">
            <span id="positionReport" style="color: #999"></span>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var noteGuid = "@Model.NoteGuid";
        var percentageRead = @Model.PercentageRead;
    </script>
    <script src="~/lib/bootstrap/js/affix.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/js/reader.js"></script>
    <link rel="stylesheet" href="~/css/reader.css" />
}
