@model EverReader.ViewModels.Reader.ReaderViewModel

@{
    ViewBag.Title = "Reading note: " + Model.FormattedNoteMetadata.Title;
}

<div class="row">
    <div class="col-md-12">
    <h3>@ViewBag.Title</h3>

    @if (Model.FormattedNoteMetadata.TagNames != null && Model.FormattedNoteMetadata.TagNames.Count > 0)
    {
        <small><strong>Tags:</strong> @String.Join(", ", Model.FormattedNoteMetadata.TagNames.ToArray())</small>
        <br />
    }            
    @if (!String.IsNullOrWhiteSpace(Model.FormattedNoteMetadata.Source))
    {
        <small><strong>Source:</strong> @Model.FormattedNoteMetadata.Source</small>
        <br />
    }
    @if (!String.IsNullOrWhiteSpace(Model.FormattedNoteMetadata.SourceUrl))
    {
        if (!Model.FormattedNoteMetadata.SourceUrl.StartsWith("file://"))
        {
            <small><strong>URL:</strong> <a href="@Model.FormattedNoteMetadata.SourceUrl">@Model.FormattedNoteMetadata.SourceUrl</a></small>
            <br />
        }
    }
    @if (!String.IsNullOrWhiteSpace(Model.FormattedNoteMetadata.SourceApplication))
    {
        <small>@Model.FormattedNoteMetadata.SourceApplication</small>
        <br />
    }    
    </div>
</div>    

<div class="row">
    <div class="col-md-12">
        @Html.Raw(@Model.Content)
    </div>
</div>

<div class="navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="btn-toolbar cols-xs-8 cols-sm-8 cols-md-8 pull-left" role="toolbar">
            <button type="button" class="btn btn-default btn-sm" id="addBookmark">Add bookmark</button>
            <span class="glyphicon glyphicon-info-sign" data-toggle="info-popover" data-trigger="hover" data-content="To name your bookmark, select some text then click 'Add bookmark'" style="top: 2px"></span>
            &nbsp;
            <button type="button" class="btn btn-default btn-sm" data-bind="contextMenu: bookmarks, bindMenuOnClick: true, bindMenuOnContextMenu: false">Bookmarks</button>
        </div>
        <div class="cols-xs-4 cols-sm-4 cols-md-4 pull-right" style="padding-top: 8px">
            <span id="positionReport" class="navbar-inverse-text-color pull-left"></span><span class="navbar-inverse-text-color hidden-xs pull-right">&nbsp;through document</span>
        </div>
    </div>
</div>

@section scripts {

<script type="text/javascript">
    var noteGuid = "@Model.FormattedNoteMetadata.Guid";
    var percentageRead = @Model.PercentageRead;
</script>

<link rel="stylesheet" href="~/css/reader.css" />
<link rel="stylesheet" href="~/lib/knockout.contextmenu/dist/css/knockout.contextmenu.min.css" />

    
<script src="~/lib/knockout/dist/knockout.debug.js"></script>
<script src="~/lib/knockout.contextmenu/dist/js/knockout.contextmenu.js"></script>
<script src="~/lib/moment/moment.js"></script>
<script src="~/js/reader.js"></script>   

<script>
    $(document).ready(function () {
        $('[data-toggle="info-popover"]').popover();
    });
</script>
}
